RewriteEngine On

# Si se solicita un archivo o directorio existente, servirlo
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Si el recurso solicitado no existe, servir index.html
RewriteRule ^ /index.html
